body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .container {
    width: 300px;
    margin: 10px auto;
    color: white;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: disc;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: darkslategray;
  }